<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Машины</title>
</head>
<body>
<div>
    <h1>Список машин:</h1>
    <table>
        <tr>
            <th>COLOR</th>
            <th>ENGINE</th>
            <th>MODEL</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.color}"></td>
            <td th:text="${car.engine}"></td>
            <td th:text="${car.model}"></td>
        </tr>
    </table>

</div>
</body>
</html>